<footer>
  <div class="footer-content">
    <p>&copy; {{ currentYear }} Gluck Global. All Rights Reserved.</p>
    <div class="footer-details">
      <span class="footer-item">450/73, Srimavo Bandaranayaka Mawatha, Peradeniya Road, Kandy</span>
      <span class="divider">|</span>
      <span class="footer-item">Email: <a href="mailto:info&#64;gluckglobal.com">info&#64;gluckglobal.com</a></span>
      <span class="divider">|</span>
      <span class="footer-item">Phone: <a href="tel:+94712692410">+94 (0)712692410</a></span>
    </div>
  </div>
</footer>
