/*header.component.css/*/

header {
  background-color: #405980;
  color: white;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

nav ul li {
  padding: 5px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

nav a:hover {
  background-color: #73a9be;
  border-radius: 5px;
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }
}

