<div class="timetable-container">
  <h2 class="title">
    Time Table
  </h2>

    <div class="add-timetable">
        <button class="add-timetable-btn" routerLink="/time-table" *ngIf="userRole === 'ADMIN'">Add New Time Table</button>
    </div>

  <table class="timetable">
    <thead>
      <tr>
        <th>Week Period</th>
        <th *ngIf="userRole === 'ADMIN'">Batch</th>
        <th *ngIf="userRole === 'ADMIN'">Medium</th>
        <th *ngIf="userRole === 'ADMIN'">Plan</th>
        <th *ngFor="let day of ['monday','tuesday','wednesday','thursday','friday','saturday','sunday']">
          {{ day | titlecase }}
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let weekGroup of groupByWeek(timeTables, userRole === 'STUDENT')">
        <ng-container *ngFor="let tt of weekGroup.items; let i = index">
          <tr>
            <td *ngIf="i === 0" [attr.rowspan]="weekGroup.items.length">
              {{ tt.weekStartDate | date:'M/d/yy' }} - {{ tt.weekEndDate | date:'M/d/yy' }}
            </td>

            <!-- Only show these columns for ADMIN -->
            <td *ngIf="userRole === 'ADMIN'">{{ tt.batch }}</td>
            <td *ngIf="userRole === 'ADMIN'">{{ tt.medium }}</td>
            <td *ngIf="userRole === 'ADMIN'">{{ tt.plan }}</td>

            <!-- Days -->
            <td *ngFor="let day of ['monday','tuesday','wednesday','thursday','friday','saturday','sunday']">
              <ng-container *ngIf="tt[day] && tt[day].length > 0; else noSlot">
                <div *ngFor="let slot of tt[day]">
                  {{ slot.start }} - {{ slot.end }}
                </div>
              </ng-container>
              <ng-template #noSlot>-</ng-template>
            </td>
          </tr>
        </ng-container>
      </ng-container>
    </tbody>
  </table>
</div>
