.timetable-container {
  padding: 20px;
  overflow-x: auto;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  color: black;
}

.timetable {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-size: 14px;
}

.timetable th,
.timetable td {
  border: 1px solid #ccc;
  padding: 8px 12px;
  vertical-align: middle;
}

.timetable th {
  background-color: #3f51b5;
  color: white;
}

.timetable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.timetable td {
  min-width: 100px;
}

/* ====== Add timetable button ====== */
.add-timetable {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}

.add-timetable-btn {
  background-color: #000e89;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s ease;
  &:hover {
    color: yellow;
  }
}
@media (max-width: 768px) {
  .add-timetable {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .timetable {
    font-size: 12px;
  }
  .timetable td,
  .timetable th {
    padding: 6px;
  }
}
